@model IEnumerable<DACK.Models.Product>
@* index nguoi dung *@
@{
    ViewData["Title"] = "Index";
}
<tbody>
    <section class="menu" id="menu">
        <div class="box-container">
            @foreach (var product in Model)
            {
                <div class="box">

                    @if (product.ImageUrl != null)
                    {
                        <img src="@product.ImageUrl" />
                    }
                    <h3>@product.Name </h3>
                    <div class="price">
                        Giá Sản Phẩm: @product.Price VND
                    </div>
                    <p>Mô Tả Sản Phẩm: @product.Description</p>
                    <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <label for="quantity">Số lượng:</label>
                        <input type="number" id="quantity" name="quantity"
                               value="1" min="1" />
                        <button class="btn btn-info" type="submit">
                            Thêm vào giỏ hàng
                        </button>
                    </form>
                    <div class="pr">
                        <a asp-action="Display" asp-route-id="@product.Id" class="btn ">Xem chi tiết </a>
                    </div>
                </div>
            }
        </div>
    </section>
</tbody>
